.App {
  text-align: center;
}



.map-style {
  /*position: absolute;*/
  width: 60%;
  height: 60%;
  margin-bottom: 500px;
  }


/*.map {
  display: flex;
  margin-top: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}*/