.App {
  text-align: center;
}

.link {
  position: absolute;
  align-items: right;
}

.map-style {
  /*position: absolute;*/
  width: 60%;
  height: 60%;
  margin-bottom: 500px;
  }

.div .map-style {
  width: 60%;
  height: 60%;
  margin-bottom: 500px;

}
#map-style {
  position: absolute;
  height: 60%;
  width: 60%;
}

.new-route {
  position: absolute;
  top: 0;
  right: 0;
}


.newMarker {
  display: flex;

  position: absolute;
  top: 0;
  right: 0;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;

}
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: flex-start;*/

/*  position: relative-right;
  align-items: flex-end;
  align-self: flex-end;*/

/*.map {
  display: flex;
  margin-top: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}*/