

.App {
  text-align: center;
  background-color: #c4dce6;
/*  font-family: "OstrichSansInline-Regular";*/
/*  border: 5px solid orange;*/
}

.tsparticles {
  height: 100%;
  bottom: 0;
}

.tsparticles-canvas-el {
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

/*  border: 5px solid pink;  */
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*border: 5px solid green;  */

}

.items {
  display: flex;
  flex-direction: column;
  margin-top: -20; 

/*  border: 3px solid red;*/
}

.link {
  position: relative;
  align-self: auto;
  text-align: center;
}

.title {
  font-family: "OstrichSansInline-Regular";
  font-size: 240px;
  padding-bottom: 30px;
  margin-top: -130px;
}

.button.ui.button.new-route {
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 110px;
  margin-left: 1595px;
}

.button.ui.button.newMarker {
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 152px;
  margin-left: 1595px;
  width: 160px;
}

.button.ui.button.deleteMarker {
  display: flex;
  position: absolute;
  top: 0;
  color: red;
  margin-top: 28px;
  margin-left: 1596px;
}

.ui.button.gallery{
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 68px;
  margin-left: 1596px;
}

.button.ui.button.returnToList {
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 194px;
  margin-left: 1596px;
}
.button.ui.button.logout {
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 26px;
  margin-left: 1600px;
  
}
.button.ui.button.photoModal {
  /*display: inline-flex;*/
  display: inline-block;
  align-content: center;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 30px;
  width: 50%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 500px;
}

.pics{
  padding: 0px;
  padding-right: 30px;
  align-content: center;
}

.imageThumbnail  {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.mapDiv {
/*  display: flex;*/
  background-color: white;
  position: absolute;
  top: 330px;
  right: 170px;
  width: 350px;
  height: 450px;
  border: 4px solid black;
}

.footer {
  padding-bottom: 50px;
  padding-top: 350px;

/*  border: 3px solid red;*/
}

.mapDivP {
  text-align: left;
  padding: 19px;
}






